@font-face {
    font-family: khfont;
    src: url(../fonts/Kingdom_Hearts_Font.ttf);
}

@font-face {
    font-family: khtext;
    src: url(../fonts/ComicHearts.otf);
}

body,
html {
    height: 100%;
    color: white;

}

#banner {
    background: url(../images/khbanner.jpg) no-repeat center;
    height: 100%;
    display: inline-block;
}

.bg {
    background: url(../images/khpattern.jpg) repeat-y center;
    background-blend-mode: multiply;
    background-color: rgba(88, 88, 87, 0.904);
    background-size: cover;
    height: 100%;

}


h2 {
    text-align: center;
    font-family: khtext, sans-serif;
}

#introduction {
    text-align: center;
    font-family: khtext;
}

li a {
    text-decoration: none;
    color: white;
}

li a:hover {
    color: silver;
    font-size: 105%;
}

#menu {
    margin: 0;
}

nav ul {
    list-style-type: none;
}


nav li {
    margin: 10px;
    padding: 10px;
    float: right;
    font-size: 150%;
}


#title {
    text-align: center;
    clear: both;
    font-family: khfont, sans-serif;
    font-size: 700%;
    white-space: nowrap;
    color: #000000;
    background-image: -webkit-linear-gradient(270deg, #000000 24%, #ffffff 79%);
    background-clip: text;
    -webkit-background-clip: text;
    text-emphasis-color: transparent;
    -webkit-text-fill-color: transparent;
}

#crownr {
    font-family: khfont, sans-serif;
    font-size: 700%;
    color: gold;
    position: relative;
    right: -1%;
}

#crownl {
    font-family: khfont, sans-serif;
    font-size: 700%;
    color: gold;
    position: relative;
    left: -1%;

}


table {
    clear: both;
    margin: 0 auto;
}