@font-face {
    font-family: khfont;
    src: url(../fonts/Kingdom_Hearts_Font.ttf);
}

@font-face {
    font-family: khtext;
    src: url(../fonts/KH_Text.ttf);
}

body,
html {
    height: 100%;
    color: white;

}



#banner {
    background: url(../images/khbanner.jpg) no-repeat center;
    height: 50%;
    background-size: cover;
    background-position: initial;
}

.bg {
    background: url(../images/khpattern.jpg) center;
    background-blend-mode: multiply;
    background-color: rgba(88, 88, 87, 0.904);
    background-size: cover;
}


h2 {
    text-align: center;
    font-family: khtext, sans-serif;
}

h2 b {
    font-weight: 100;
    font-size: 20px;
}

b,
label {
    font-family: khtext, sans-serif;
}


#introduction {
    text-align: center;
    font-family: khtext, sans-serif;
    margin: 2%;
}

li a {
    text-decoration: none;
    color: white;
    position: relative;
}

li a:hover {
    color: silver;
    font-size: 105%;
}

#menu {
    margin: 0;
}


.toggle {
    opacity: 0%;
    transform: scale(5.0);
    position: relative;
    right: -35px;
    bottom: 10px;
    text-align: center;
    margin: 0 0;
    white-space: nowrap;
    cursor: pointer;
}

.key {
    font-family: khfont, sans-serif;
    font-size: 500%;
    color: gold;
    position: relative;
    bottom: -35px;
    text-align: center;
    pointer-events: none;
}

.toggle:checked+.key+.answer {
    display: block;
}

.toggle:hover+.key {
    color: silver;
    font-size: 510%;
}

#welcome {
    margin-bottom: 15px;
}

.answer {
    display: none;
    position: relative;
    top: 5px;
    font-family: khtext;
    text-align: center;
}


* {
    padding: 0;
    margin: 0;
    border: none;
}

nav ul {
    list-style-type: none;
}


nav li {
    margin: 0 50px 1px 0px;
    float: right;
    font-size: 150%;
}



#title {
    text-align: center;
    clear: both;
    font-family: khfont, sans-serif;
    font-size: 700%;
    white-space: nowrap;
    color: #000000;
    background-image: -webkit-linear-gradient(270deg, #3f3f3f 24%, #ffffff 79%);
    background-clip: text;
    -webkit-background-clip: text;
    text-emphasis-color: transparent;
    -webkit-text-fill-color: transparent;
}

#crownr {
    font-family: khfont, sans-serif;
    font-size: 700%;
    color: gold;
    position: relative;
    right: -1%;
    bottom: -20px;
}

#crownl {
    font-family: khfont, sans-serif;
    font-size: 700%;
    color: gold;
    position: relative;
    left: -1%;
    bottom: -20px;

}


table {
    clear: both;
    margin: 0 auto;
}

#signup {
    margin: 0 auto;
    max-width: 300px;



}

#signuphead {
    margin: 100px -4px 20px 0px;
}

form label {
    margin-top: 10px;
}

.signtext {
    border: 1px solid black;
    border-radius: 20px;
    width: 100%;
}

.signtext:hover {
    border-color: silver;
}

.submit {
    margin-top: 25px;
    border-radius: 3px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: gold;
    color: black;
    display: block;
    font-family: 'khtext';
    cursor: pointer;
}

.submit:hover {
    background-color: silver;
}

footer {
    margin-top: 10%;
    background-color: black;
}

#contactlist {
    list-style-type: none;
    margin: 0 auto;
    display: table;
}

#contactlist li {
    margin: 25px 0px 0px 50px;
    float: left;
    font-size: 150%;
    padding-left: 100px;
}

iframe {
    height: 500px;
    margin: 0 auto;
    width: 50%;
}

footer p {
    margin-top: 1%;
    text-align: center;
    color: white;
}

@media screen and (max-width: 780px) {
    .key {
        display: none;
    }

    .answer {
        display: block;
    }

    div h2 {
        margin-top: 10%;
    }

    h2 input {
        display: none;
    }

    table {
        font-size: 70%;
    }

    iframe {
        width: 100%;
    }

    #contactlist li {
        margin: 0 0 0 0;

    }

    nav li {
        font-size: 90%;
    }
}

@media screen and (max-width: 425px) {

    table {
        font-size: 45%;
    }

    nav li {
        font-size: 75%;
    }

    #contactlist li {
        font-size: 90%;
        margin: 0 0 0 -70px;
    }
}

@media screen and (max-width: 320px) {

    table {
        font-size: 35%;
    }

    nav li {
        font-size: 50%;
    }

    #contactlist li {
        font-size: 80%;

    }
}