@font-face {
    font-family: khfont;
    src: url(fonts/Kingdom_Hearts_Font.ttf);
}

body,
html {
    height: 100%;
    color: white;

}


.bg {
    background: url(images/khpattern.jpg) repeat-y center;
    background-blend-mode: multiply;
    background-color: rgba(88, 88, 87, 0.904);
    background-size: cover;
    height: 100%;
    overflow: hidden;

}


li a {
    text-decoration: none;
    color: white;
}

li a:hover {
    color: silver;
}

#menu {
    margin: 0;
}

nav ul {
    list-style-type: none;
}


nav li {
    margin: 10px;
    padding: 10px;
    float: right;
    font-size: 150%;
}


#title {
    text-align: center;
    clear: both;
    font-family: khfont, sans-serif;
    font-size: 700%;
    white-space: nowrap;
    color: #000000;
    background-image: -webkit-linear-gradient(270deg, #000000 24%, #ffffff 79%);
    background-clip: text;
    -webkit-background-clip: text;
    text-emphasis-color: transparent;
    -webkit-text-fill-color: transparent;
}

#crownr,
#crownl {
    font-family: khfont, sans-serif;
    font-size: 700%;
    color: gold;
}


table {
    clear: both;
    margin: 0 auto;
}